.services {
  &__wrapper {
    margin-top: 80px;
    display: grid;
    grid-template-columns: repeat(2, minmax(300px, 1fr));
    text-align: center;
    gap: 32px;
  }
  &__item {
    padding: 45px;
    background: $other-color;
    border-top: 5px solid $other-color;
    border-radius: 8px;
    transition: all 0.40s ease;
    cursor: pointer;
    &:hover {
      transform: scale(1.01) translateY(-5px);
      border-top: 5px solid $main-color;
      h3 {
        color: $main-color;
      }
    }
  }
  &__heading {
    margin: 15px 0;
    font-size: 24px;
    font-weight: 600;
    transition: all 0.40s ease;
  }
  &__desc {
    color: $second-color;
    font-size: $p-font;
    line-height: 30px;
  }
}