.services {
  padding-top: 140px;
  &__title {
    @extend %title;
    text-align: center;
  }
  &__subtitle {
    @extend %subtitle;
    text-align: center;
  }
  &__wrapper {
    margin-top: 80px;
    display: grid;
    grid-template-columns: repeat(2, minmax(300px, 1fr));
    text-align: center;
    gap: 32px;
  }
  &__item {
    padding: 45px;
    background: $bg-item-col;
    border-top: 5px solid $bg-item-col;
    border-radius: 8px;
    transition: all 0.40s ease;
    &:hover {
      transform: scale(1.01) translateY(-5px);
      border-top: 5px solid $second-col;
      .services__heading {
        color: $second-col;
      }
    }
  }
  &__heading {
    margin: 15px 0;
    font-size: $h3-fs;
    font-weight: 600;
    transition: all 0.40s ease;
  }
  &__desc {
    color: $third-col;
    font-size: $p-fs;
    line-height: 30px;
  }
}