$text-color: #fff;
$main-color: #eb4a4a;
$second-color: gray;
$other-color: #12141c;
$h1-font: 5.2rem;
$h2-font: 3.5rem;
$p-font: 1.1rem;

$bg-color: #020312;
$bg-item-color: #12141c;
$title-color: #fff;
$subtitle-color: #eb4a4a;
$circle-color: #eb4a4a;
$line-color: #eb4a4a;


$h1-font-size: 84px;
$h2-font-size: 56px;
$h3-font-size: 24px;
$h4-font-size: 22px;
$h5-font-size: 20px;
$p-font-size: 18px;






$bg-col: #020312;
$bg-item-col: #12141c;
$first-col: #fff;
$second-col: #eb4a4a;
$third-col: gray;

$h1-fs: 84px;
$h2-fs: 56px;
$h3-fs: 24px;
$h4-fs: 22px;
$h5-fs: 20px;
$p-fs: 18px;