// base
@import "base/fonts";
@import "base/variables";
@import "base/templates";
@import "base/mixins";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
}

body {
  background: #020312;
  color: #fff;
}

section {
  padding-top: 140px;
}

// desktop
@import "blocks/header/header";
@import "blocks/container/container";
@import "blocks/navbar/navbar";
@import "blocks/home/home";
@import "blocks/btn/btn";
@import "blocks/about/about";
@import "blocks/experience/experience";

@import "blocks/title/title";
@import "blocks/subtitle/subtitle";

@import "blocks/skills/skills";
@import "blocks/services/services";
@import "blocks/portfolio/portfolio";
@import "blocks/contact/contact";
@import "blocks/form/form";

// mobile


// // Шестая секция
// .contact {
//   display: grid;
//   grid-template-columns: repeat(2, 1fr);
//   align-items: center;
//   gap: 3rem;
// }

// .contact-text h4 {
//   margin: 15px 0;
//   color: $main-color;
//   font-size: 20px;
//   font-weight: 600;
// }

// .contact-text h2 {
//   font-size: $h2-font;
// }

// .contact-text p {
//   color: $second-color;
//   font-size: $p-font;
//   line-height: 30px;
//   margin-bottom: 2rem;
// }

// .contact-list {
//   margin-bottom: 3rem;
// }

// .contact-list li {
//   margin-bottom: 10px;
//   display: block;
// }

// .contact-list li a {
//   display: block;
//   color: $second-color;
//   font-size: $p-font;
//   font-weight: 600;
//   transition: all 0.40s ease;
// }

// .contact-list li a:hover {
//   transform: scale(1.01) translateY(-5px);
//   color: $main-color;
// }

// .contact-icons i {
//   height: 40px;
//   width: 40px;
//   background: #12141c;
//   border-radius: 0.5rem;
//   color: $main-color;
//   display: inline-flex;
//   align-items: center;
//   justify-content: center;
//   font-size: 18px;
//   margin-right: 10px;
//   transition: all 0.40s ease;
// }

// .contact-icons i:hover {
//   transform: scale(1.01) translateY(-5px);
//   color: $text-color;
//   background: $main-color;
// }

// .contact-form form {
//   position: relative;
// }

// .contact-form form input, form textarea {
//   border: none;
//   outline: none;
//   width: 100%;
//   padding: 18px;
//   background: #12141c;
//   color: $text-color;
//   font-size: 1rem;
//   font-weight: 600;
//   margin-bottom: 0.5rem;
//   border-radius: 0.5rem;
// }

// .contact-form textarea {
//   resize: none;
//   height: 220px;
// }

// .contact-form form .send {
//   display: inline-block;
//   font-size: 17px;
//   font-weight: 500;
//   background: $main-color;
//   color: $text-color;
//   width: 190px;
//   transition: all 0.40s ease;
//   cursor: pointer;
// }



// .last-text p {
//   text-align: center;
//   padding: 15px;
//   color: $second-color;
//   font-size: 15px;
//   font-weight: 600;
//   letter-spacing: 1px;
// }



// .top {
//   position: fixed;
//   bottom: 2.1rem;
//   right: 2.1rem;
// }

// .top i {
//   color: $text-color;
//   background: $main-color;
//   font-size: 20px;
//   padding: 10px;
//   border-radius: 0.5rem;
// }