.experience {
  &__title {
    @extend %title;
    text-align: center;
  }
  &__subtitle {
    @extend %subtitle;
    text-align: center;
  }
  &__wrapper {
    margin-top: 80px;
  }
  &__tabs {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 50px;
  }
  &__button {
    font-size: 26px;
    font-weight: 600;
    transition: all 0.4s ease;
    cursor: pointer;
    &_active {
      color: $second-col;
    }
    &:hover {
      transform: scale(1.01) translateY(-5px);
      color: $second-col;
    }
  }
  &__icon {

  }
  &__heading {
    margin-left: 4px;
  }
  &__sections {

  }
  &__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, auto);
    column-gap: 100px;
  }
  &__item {
    position: relative;
    margin-bottom: 30px;
    &_item1 {
      grid-column: 1 / 2;
      grid-row: 1 / 2;
      @extend %before-circle;
      @extend %after-line;
      &::before {
        right: -60px;
      }
      &::after {
        right: calc(-50px - 1px/2);
        top: 10px;
      }
    }
    &_item2 {
      grid-column: 2 / 3;
      grid-row: 2 / 3;
      @extend %before-circle;
      @extend %after-line;
      &::before {
        left: -60px;
      }
      &::after {
        left: calc(-50px - 1px/2);
        top: 10px;
      }
    }
    &_item3 {
      grid-column: 1 / 2;
      grid-row: 3 / 4;
      @extend %before-circle;
      @extend %after-line;
      &::before {
        right: -60px;
      }
      &::after {
        right: calc(-50px - 1px/2);
        top: 10px;
      }
    }
    &_item4 {
      grid-column: 2 / 3;
      grid-row: 4 / 5;
      @extend %before-circle;
      @extend %after-line;
      &::before {
        left: -60px;
      }
      &::after {
        left: calc(-50px - 1px/2);
        top: 10px;
      }
    }
  }
  &__paragraph {
    font-size: $h3-fs;
    font-weight: 600;
    margin-bottom: 10px;
  }
  &__info {
    font-size: $h5-fs;
    font-weight: 400;
    margin-bottom: 16px;
    color: $second-col;
  }
  &__calendar {
    font-size: $p-fs;
    color: $third-col;
  }
  &__text {
    margin-left: 4px;
  }
}