$col-bg: #020312;
$col-item: #12141c;
$col-main: #fff;
$col-second: #eb4a4a;
$col-text: gray;

$fs-84: 84px;
$fs-56: 56px;
$fs-36: 36px;
$fs-26: 26px;
$fs-25: 25px;
$fs-24: 24px;
$fs-22: 22px;
$fs-21: 21px;
$fs-20: 20px;
$fs-18: 18px;
$fs-17: 17px;
$fs-16: 16px;
$fs-12: 12px;

$fw-7: 700;
$fw-6: 600;
$fw-5: 500;
$fw-4: 400;

$br-8: 8px;