.btn {
  display: inline-block;
  border-radius: 0.5rem;
  font-size: 17px;
  font-weight: 500;
  background: $main-color;
  color: $text-color;
  border: 1px solid $main-color;
  transition: all 0.40s ease;
  &__link {
    padding: 14px 40px;
  }
  &:hover {
    transform: scale(1.01) translateY(-5px);
    background: transparent;
    border: 1px solid $main-color;
  }
}