.about {
  padding-top: 140px;
  &__wrapper {
    display: grid;
    grid-template-columns: repeat(2, auto);
    align-items: center;
    gap: 100px;
  }
  &__img {
    height: auto;
    width: 100%;
    max-width: 460px;
    object-fit: cover;
    border-radius: $br-8;
  }
  &__title {
    @extend %title;
  }
  &__subtitle {
    @extend %subtitle;
    margin-bottom: 16px;
  }
  &__text {
    @extend %text;
    margin-bottom: 32px;
  }
  &__btn-link {
    @extend %btn;
    padding: 14px 40px;
  }
}