.header {
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 1000;
  background: transparent;
  padding: 22px 0;
  border-bottom: 1px solid transparent;
  transition: all 0.4s ease;
  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__logo {
    width: 135px;
    height: auto;
  }
  &__hamburger {
    display: none;
    font-size: $fs-36;
    color: $col-main;
    z-index: 1001;
    cursor: pointer;
  }
}

.sticky {
  padding: 10px 0;
  background: $col-bg;
  border-bottom: 1px solid #0e1630;
}