.navbar {
  &__list {
    display: flex;
  }
  &__link {
    color: $second-color;
    font-size: $p-font;
    font-weight: 600;
    padding: 10px 25px;
    margin: 0 2px;
    border-radius: 0.5rem;
    transition: all 0.40s ease;
    &:hover {
      background: $main-color;
      color: $text-color;
    }
  }
}